<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>yssb</title>

    <style>
      .title{
        text-align: center
      }
    </style>

    <!-- 부트스트랩 -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">    

    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">YSSB</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>-->
            <% if(sess_level==0) { %>
            <li><a href="/manager_page">MY PAGE</a></li>
            <% } else if (sess_level==1) { %>
            <li><a href="/client_profile/<%= sess_id %>">MY PAGE</a></li> 
            <% } else if (sess_level==2) { %>
            <li><a href="/freelancer_profile/<%= sess_id %>">MY PAGE</a></li>
            <% }%>
            <% if(sess_id){ %>
            <li><a href="/request_list">Request List</a></li>
            <% }%>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if(sess_id){ %>
                <li><a href="/logout">LOG OUT</a></li>
            <% }else{ %>
                <li><a href="/login">LOG IN</a></li>
                <li><a href="/signup">SIGN UP</a></li>
            <% } %>
        </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<body>

    <% if(!sess_id){ %>
        <script type="text/javascript">
            alert('로그인을 먼저 해주세요.');
            window.location.href = '/login';
        </script>
    <% } %>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div>
                <button class="btn btn-default" onclick="location.href='/request_list'">BACK</button>
                <h2>의뢰 작성 페이지</h2>
            </div>
            <form action="/file_upload/req_spec_from_write" method="POST" id=form enctype="multipart/form-data">
            <!--<form action="/write_request" method="POST" id=form enctype="multipart/form-data">-->
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="write_title" placeholder="Title" required>
                </div>
    
                <div class="form-group">
                    <label>Pay($)</label>
                    <input type="number" class="form-control" name="write_pay" placeholder="단위는 $입니다." min="0" required>
                </div>
    
                <div>
                    <label>모집 마감 날짜를 알려주세요</label>
                    <input type="date" class="form-control" name="write_end" id="write_end" required>
                </div>
    
                <div class="form-group">
                    <label for="language_skill">Language Skill</label>
                    <div id="pre_set">
                        <select name="write_lng[0]">
                            <option value="C">C</option>
                            <option value="C++">C++</option>
                            <option value="C#">C#</option>
                            <option value="Python">Python</option>
                            <option value="Java">Java</option>
                            <option value="Html">Html</option>
                            <option value="Javascript">Javascript</option>
                            <option value="PHP">PHP</option>
                            <option value="R">R</option>
                            <option value="Swift">Swift</option>
                            <option value="mySql">mySql</option>
                            <option value="Ruby">Ruby</option>
                        </select>
                        <input type="radio" name="write_skill[0]" value="1">1
                        <input type="radio" name="write_skill[0]" value="2">2
                        <input type="radio" name="write_skill[0]" value="3">3
                        <input type="radio" name="write_skill[0]" value="4">4
                        <input type="radio" name="write_skill[0]" value="5">5
                        <input type="button" class="btn btn-default" value="DELETE" onclick="remove_item(this)">
                    </div>
                    <div id="field">
                    <!-- 여기에 새로만든 language option이 추가됨-->
                    </div>
                    <input type="button" class="btn btn-default" value="ADD" onclick="add_item()">
                </div>

                <div class="form-group">
                    <label>필요한 최소 경력(년)</label>
                    <input type="number" class="form-control" name="write_min_career" min="0" required>
                </div>
                
                <div class="form-group">
                    <!-- 첨부된 파일 갯수 -->
                    <input type="hidden" name="write_file_num" id="write_file_num" value="0">
                </div>

                <div class="form-group">
                    <label>의뢰 스펙 문서 (최대 5개까지 업로드 가능)</label>
                    <input type="file" class="btn btn-default" name="file" id="files" multiple required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="WRITE">
                </div>

            </form>

        </div>
    </div>

<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type='text/javascript'>

    var lng_num = 1;    // index를 증가시키기 위한 변수
    function add_item(){
        var base = document.createElement('div');
        base.innerHTML = document.getElementById('pre_set').innerHTML;

        // language 개수
        var new_name_div = lng_num;
        var new_name_type = base.getElementsByTagName("select")[0].getAttribute("name").slice(0, -3)+'['+lng_num+']';
        var new_name_skill = base.getElementsByTagName("input")[0].getAttribute("name").slice(0, -3)+'['+lng_num+']';

        base.setAttribute("name", new_name_div);
        base.getElementsByTagName("select")[0].setAttribute("name", new_name_type);
        for(var i=0; i<5;i++){
            base.getElementsByTagName("input")[i].setAttribute("name", new_name_skill);
        }
        
        //console.log(base);
        document.getElementById('field').appendChild(base);
        lng_num++;
    }

    function remove_item(obj){
        // 지우려는 div의 아이디
        var delete_idx = Number(obj.parentNode.getAttribute("name"));
        document.getElementById('field').removeChild(obj.parentNode);
    }

    $('#form').submit(function(){
        
        // 첨부 파일 갯수 확인
        var file_num = $('#files')[0].files.length;
        if(file_num>5){
            alert('의뢰 스펙 문서는 최대 5개까지만 첨부 가능합니다.');
            return false;
        }
        document.getElementById("write_file_num").value = file_num;

        // 의뢰 모집 마감 날짜 확인
        var end = $('#write_end').val();
        var eyear = Number(end.slice(0, 4));
        var emonth = Number(end.slice(5, 7));
        var edate = Number(end.slice(8));

        var today =  new Date();
        var tyear = today.getFullYear();
        var tmonth = today.getMonth()+1;
        var tdate = today.getDate();
        
        if(eyear<tyear){
            alert('모집 마감 날짜는 오늘보다 미래여야 합니다.');
            return false;
        }
        else if(eyear>tyear){
            return true;
        }
        else if(emonth<tmonth){
            alert('모집 마감 날짜는 오늘보다 미래여야 합니다.');
            return false;
        }
        else if(emonth>tmonth){
            return true;
        }
        else if(edate<=tdate){
            alert('모집 마감 날짜는 오늘보다 미래여야 합니다.');
            return false;
        }
        else{
            return true;
        }

    });

    $('#files').change(function(){
        var files = $(this)[0].files;
        if(files.length > 5)
            alert("의뢰 스펙 문서는 최대 5개까지만 업로드 가능합니다.");
    });
</script>

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>